/*	Page Content	*/
html,body {
	margin:0;
	background-color:#000;
	color: #bbb;
	font-family:Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
	font-size: 1em;
	line-height: 1.5em;
}

p {
	margin:1em;
}

div#head {
	text-align: right;
}


/*	Headers	*/
h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
	color:#eee;
	line-height:1em;
  margin: 1em;
} h4,h5,h6 {
	font-weight: bold;
} h1 {
	font-size:2.5em;
} h2 {
	font-size:2em;
	/*border-bottom:1px solid gray;*/
	padding-bottom: 5px;
} h3 {
	font-size:1.5em;
} h4 {
	font-size:1.2em;
} h5 {
	font-size:1em;
} h6 {
	font-size:0.9em;
}

img {
  max-width:100%;
}


/*	Links	*/
a {
	color: #55f;
	text-decoration:none;
} a:hover {
	color: #88f;
} a:active {
	color:#faa700;
} a:focus {
	outline: thin dotted;
} a:hover, a:active {
	outline: 0;
} .head a {
	line-height:2em;
	margin-top:10px;
	border: 1px solid #55f;
	border-radius:10px;
	padding: 5px;
} .head a:before {
	content: "Hosted on Github";
} .head a:active {
	border: 1px solid #faa700;
} .head a:hover {
	border: 1px solid #88f;
	background: #111;
} .head a:hover:before {
	content: "Visit the Github";
}


/*	Text Formatting	*/
li.warning {
	color:#9f9;
} li.warning a {
	color:#5f5;
} li.warning a:hover {
	color:#7f7;
}

ul.outer>li {
	color:#eee;
  font-weight:bold;
  margin: 1em 0;
  }

ul.inner>li {
	color: #bbb;
  font-weight:normal;
  }

.header {
  text-decoration:underline;
  }

.line {
  border-top: 1px solid gray;
  width:100%;
  }

span.head {
	margin-top:5px;
	font-family: monospace;
	font-size:1.5em;
} span.head:hover:before {
	color: gray;
	font-size: 1em;
	content:"Feel free to help maintain the pack! - ";
}

strong,b {
	color:#eee;
} strong a,b a {
	color:#bbd;
}

@media screen and (max-width: 734px){
	span.head:hover:before {
		font-size: .75em;
		content:"Feel free to help maintain the pack! - ";
	}
}

@media screen and (max-width: 510px){
	span.head:hover:before {
		content:"";
	}
}